workflows/X Agent.json
{
  "name": "X Agent",
  "nodes": [
    {
      "parameters": {
        "url": "https://newsdata.io/api/1/news?apikey=pub_203264e38665cb9f7b2c5832471b57b9f808a&language=en&q=\"AI Agents\" AND \"Education\" AND \"Business\"",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1184,
        -16
      ],
      "id": "33508fba-10f9-4fac-ab4a-b4abe51489a2",
      "name": "HTTP Request2",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst articles = $input.first().json.results || []\n\nreturn articles.map(article => ({\n  json: {\n    tweeet: article.description || null,\n    tags: article.keywords || null\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        -16
      ],
      "id": "0f070a8f-2b27-45f2-9368-78638417a819",
      "name": "Code"
    },
    {
      "parameters": {
        "amount": "={{ 60 + Math.floor(Math.random() * 60) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        288,
        576
      ],
      "id": "0f8322f1-5236-42c9-b221-9667aeb35f71",
      "name": "Wait",
      "webhookId": "80b57f45-a744-495f-a25d-6a009f00db1b"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -592,
        464
      ],
      "id": "a4a2da30-4785-46ab-88d4-3fc171d9ce1f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -304,
        592
      ],
      "id": "405fbdba-4105-4b97-9050-709c7fafed7c",
      "name": "Create Tweet",
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "BQinEUP79aGI1Wg8",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "You are a skilled social media copywriter known for writing sharp, engaging tweets that drive organic growth and interaction.",
              "role": "model"
            },
            {
              "content": "=Craft a tweet based on this input: {{ $json.tweeet }}. Use the following hashtags in a natural, relevant way: {{ $json.tags }}.\n\nMake it feel like it was written by a thoughtful human — not too robotic or forced. Keep the tone confident, insightful, and readable.\n\nImportant:\n\nKeep the entire output within 250 characters (including hashtags, punctuation, and spaces).\n\nDo not mention AI, LLMs, or give any indication that the tweet was generated or automated.\n\nReturn only the final tweet as a single text block, ready for posting."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -480,
        64
      ],
      "id": "7ae44fa1-cb34-467f-801a-dd4c77ec7ae9",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "WRcVCXTGzHTI7zHh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1616,
        -16
      ],
      "id": "f930f3ed-333e-48ac-99ea-a423329d995b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zBL_UlfRN5kpXBPDhFdeyDDWbHdAf3Qx1w11uGifH1s",
          "mode": "list",
          "cachedResultName": "testing...",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zBL_UlfRN5kpXBPDhFdeyDDWbHdAf3Qx1w11uGifH1s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zBL_UlfRN5kpXBPDhFdeyDDWbHdAf3Qx1w11uGifH1s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tweets": "={{ $json.content.parts[0].text }}",
            "Status": "PENDING"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tweets",
              "displayName": "Tweets",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Published At",
              "displayName": "Published At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        112,
        48
      ],
      "id": "4211d575-39b4-4e2d-9a24-c69ed57a812f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NsoyDOsUS6a5Wjoj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": "={{ 60 + Math.floor(Math.random() * 60) }}\n",
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1zBL_UlfRN5kpXBPDhFdeyDDWbHdAf3Qx1w11uGifH1s",
          "mode": "list",
          "cachedResultName": "testing...",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zBL_UlfRN5kpXBPDhFdeyDDWbHdAf3Qx1w11uGifH1s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zBL_UlfRN5kpXBPDhFdeyDDWbHdAf3Qx1w11uGifH1s/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        464
      ],
      "id": "d201c6ec-9163-44e7-a5f4-3766028abae5",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "30hsMkpEPuLTWSaE",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zBL_UlfRN5kpXBPDhFdeyDDWbHdAf3Qx1w11uGifH1s",
          "mode": "list",
          "cachedResultName": "testing...",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zBL_UlfRN5kpXBPDhFdeyDDWbHdAf3Qx1w11uGifH1s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zBL_UlfRN5kpXBPDhFdeyDDWbHdAf3Qx1w11uGifH1s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "POSTED",
            "Tweets": "={{ $json.Tweets }}",
            "Published At": "={{ DateTime.now() }}"
          },
          "matchingColumns": [
            "Tweets"
          ],
          "schema": [
            {
              "id": "Tweets",
              "displayName": "Tweets",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Published At",
              "displayName": "Published At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        16,
        368
      ],
      "id": "378f4286-4f1b-4d44-ad77-a9d665871918",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NsoyDOsUS6a5Wjoj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b8d4df30-bd4e-4745-af54-a0343d7e635b",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "=APPROVED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -976,
        464
      ],
      "id": "c5969c71-a4bb-4b20-a86b-2081a72d4579",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "## Triggered when a new row is added \nin the sheet with random polling rate to replicate a natural timing.",
        "height": 256,
        "width": 496,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1696,
        352
      ],
      "typeVersion": 1,
      "id": "b77bcc40-6795-4605-a6c9-f62f79a56364",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Filters rows\nthat are has an **Approved** status.",
        "height": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        368
      ],
      "typeVersion": 1,
      "id": "32375679-e84c-4301-a03b-7aec4a2afefd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Posts the tweet\nvia connected Twitter API.",
        "height": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        512
      ],
      "typeVersion": 1,
      "id": "c18788e6-68e7-45c5-9954-df37a3a6770b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Marks the tweet as **POSTED**. Also adds the result (publish time).",
        "height": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        304
      ],
      "typeVersion": 1,
      "id": "cbffe0e8-b002-4f48-be8c-7640cd4b9a21",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Natural delay\nbetween tweets (rate limit / humanize).",
        "height": 224,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        480
      ],
      "typeVersion": 1,
      "id": "73edada1-714e-4dab-a942-35c0b8b6b732",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Iterates (optional)\nover each filtered tweet entry.",
        "height": 208,
        "width": 224,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        368
      ],
      "typeVersion": 1,
      "id": "887995fd-3eae-4f63-96b9-ab1518eceb6e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Runs periodically \nto generate fresh content i.e. daily.",
        "height": 288,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1696,
        -128
      ],
      "typeVersion": 1,
      "id": "9390877b-0ff3-4a3e-9632-f658ad41e5fe",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Fetches data \nfrom an external source API.",
        "height": 208,
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        -96
      ],
      "typeVersion": 1,
      "id": "759251c6-da61-4c27-8fe1-d7e520738aca",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Structures the data.",
        "height": 208,
        "width": 262
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        -80
      ],
      "typeVersion": 1,
      "id": "4f9f29b1-1699-4d02-bdb6-f4d03aa8e960",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Sends prompt to AI model \nto generate humanized, natural content.",
        "height": 272,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -48
      ],
      "typeVersion": 1,
      "id": "9109e3aa-dfac-48c2-b2b6-c28ac5f277a8",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Adds AI-generated content \nto the Google Sheet to be picked by the second flow later.",
        "height": 256,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -96
      ],
      "typeVersion": 1,
      "id": "078c38b9-4a19-4e9f-b804-e872d1ffb0cb",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## First Flow\nRuns to fetch daily news, and generate tweets over it\n\n\n\n\n\n\n\n## Second Flow\nTriggered after **random** time if there is an updated row",
        "height": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2016,
        96
      ],
      "typeVersion": 1,
      "id": "4f9251d9-8297-4f16-95c6-5176e2588e19",
      "name": "Sticky Note11"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8aeb8c23-65a5-49c0-8fd2-1ca7b57cb9cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ce639107ffc5292ba6ea24921c67b686e6b4a16acec51000c57403bb37bd292"
  },
  "id": "nN9n1CA2JSmAvdCf",
  "tags": []
}